<h1>Create a New List</h1>

<%= form_for @list do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit "Create List" %>
<% end %>

<%= link_to "Back to Lists", lists_path %>
